@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */

/* ek e kaj barbar jate kora nah lag ejnno ei portion th use kora hoy */

.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark-02 */
.text-gray{
    color: #424242;
} 

/* dark-03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1 );
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF ;

    /* color manr btn er modhher text gulor clr chng hbe */

    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;

    /* border none deyar karone btn er sesh part er black ekta clr chilo oith shore jabe */
    
    /* margin-bottom: 50px; */
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 110px;
}
.section-title{
    /* font-size: 45px; use korbonh fig a dea ache tao */
    font-size: 2.5rem;
    font-weight: 700;
}

/* header styles */


/* navbar styles */

.navbar{
    justify-content: space-between;
    /* eta korle logo mane brnd name  a nav item er majhe distance hbe 2 ta jinish 2 side a chole jabe */
    align-items: center;
    /* brand a font size boro korar karone navitem gulo upoe gese ejnno center  a anar jnno abr align item center kora lagse */
}

.nav-links{
    text-decoration: none;
    /* under-line h shore jabe anchor tag er by default jeta dea thake  */
    font-weight: 500px;
 }

 .nav-item{
    list-style: none;
    margin-right: 30px;
}

.brand{
    font-weight: 700px;
    font-size: 2.5rem;
    /* 16px = 1remm */
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    /* navitem r brnd name jekono device er spec onujaiyi fit hye jabe etr karone *imp* */
}

/* Banner related style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px; 
}

.banner-title{
    font-weight: 700px;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
    /* etar karone img device er upor depend korer size hye jabe */
}

/* teams and features related styles */

.teams{
    align-items: center;
    /* 4ta chobi box shape er modhhe eshe porbe fig filer moto *imp* */
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
    /* max-wdth er karonefetatures er box tar size chot ohye jabe 530px jeta fig file a deya ache  */
}

#quick-list{
    font-weight: 500;
}
/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.fact-description{
    max-width: 540px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    /* font-weight a number er por px dete hoynh kintu */
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    /* margin-top 10px mane box er modhher last liner er likhatar sathe uporer likha+icn er gap kora agea beshi chilo(h3 tag er karone default vabe 33px margin neye nisilo) etar karone aktu close hoice*/
}
/* sponsor related styles*/
.sponsor-info{
    min-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    /* filter: grayscale(100%); img gulo gray clr gye geche etar karone */
}
/* responsive meda query */
@media screen and (max-width: 576px) {
     .navbar, 
     .nav-links, 
     .teams{
        flex-direction: column;
     }
     .team-img-container, 
     .facts-container,
     .sponsor-companies
     {
        /* grid-template-columns: repeat(1, 1fr); */
       
        /* or */
         grid-template-columns: 1fr;
         /* same jinish */
     }
     .facts-container,
     {
        justify-items: center;
        /* etar karone nicher fact card gulo center  a grid er mto hye jabe choto device a automatically */
        gap: 24px;
     }
     .our-features{
        margin-left: 20px;
     }
     .sponsor-companies{
        justify-items: center;
        gap: 50px;
     }
} 


/* medium devices */
@media screen and (min-width: 576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-companies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}